<!-- Titre et description SEO -->
<title>WolfDefansy – Équipe Cyber</title>
<meta name="description"
      content="Rejoignez l'équipe cyber et contribuez au renforcement de la sécurité de notre future plateforme éducative. Spécialisez-vous à travers nos trois pôles : Blue Team, Red Team et Développement.">
<meta name="author" content="WolfDefansy">
<meta name="keywords"
      content="cybersécurité, éducation, Blue Team, Red Team, DevSecOps, bénévolat, association, sécurité informatique">

<!-- Favicon -->
<link rel="icon" href="/public/pictures/pro.ico" type="image/x-icon">


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://informations.wolfdefansy.org/">
<meta property="og:title" content="Rejoignez l'équipe cyber de WolfDefansy">
<meta property="og:description" content="Participez à la construction d'une plateforme éducative en cybersécurité.">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://informations.wolfdefansy.org/">
<meta name="twitter:title" content="Rejoignez l'équipe cyber de WolfDefansy">
<meta name="twitter:description" content="Participez à la construction d'une plateforme éducative en cybersécurité.">
