<!-- Titre et description SEO -->
<meta
  name="description"
  content="WolfDefansy est une association ayant pour objectif de rendre accessible la cybersécurité au travers la création d'une plateforme éducative gratuite pour tous. - Learn without frontiers ."
/>
<meta name="author" content="WolfDefansy" />
<meta
  name="keywords"
  content="WolfDefansy, WolfDefansy, WolfDefansy Association, Cybersécurité, Sécurité Informatique, Hacking Éthique, Formation Cybersécurité, Éducation en Cybersécurité, Plateforme Éducative, Apprentissage en Ligne, CTF, Capture The Flag, Sécurité Offensive, Sécurité Défensive, DevSecOps, Vulnérabilité, Réseaux Informatiques, Systèmes d'Information, Cryptographie, Sensibilisation à la Sécurité, Communauté Cybersécurité"
/>

<!-- Favicon -->
<link rel="icon" href="/pictures/pro.ico" type="image/x-icon" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://informations.wolfdefansy.org/" />
<meta property="og:title" content="Rejoignez l'équipe cyber de WolfDefansy" />
<meta
  property="og:description"
  content="Participez à la construction d'une plateforme éducative en cybersécurité."
/>

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="https://informations.wolfdefansy.org/" />
<meta name="twitter:title" content="Rejoignez l'équipe cyber de WolfDefansy" />
<meta
  name="twitter:description"
  content="Participez à la construction d'une plateforme éducative en cybersécurité."
/>
