<header id="navbar">
    <nav class="nav">
        <div class="navbar-container">
            <button class="hamburger" id="hamburger" aria-label="Menu">&#9776;</button>
            <ul class="nav-links" id="nav-links">
                <a href="/" class="nav-logo">
                    <img src="/public/pictures/25A01LOGODISC.png" alt="Logo" class="logo-img">
                </a>
                <li><a href="/" class="nav-link">Accueil</a></li>
                <li><a href="/recrutement" class="nav-link">Recrutement</a></li>
                <li><a href="/entrainement" class="nav-link">Entraînement</a></li>
                <li><a href="/partenariats" class="nav-link">Partenariats</a></li>
                <li><a href="/contact" class="nav-link">Contact</a></li>
                <li><a href="https://wolfdefansy.org" class="nav-link" target="_blank" rel="noopener">CTF</a></li>
                <li><span class="nav-date">BETA-ACCESS:31/10/25</span></li>
            </ul>
        </div>
    </nav>
</header>


<div class="overlay"></div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const hamburger = document.querySelector('.hamburger');
    const navbarContainer = document.querySelector('.nav-links');
    const overlay = document.querySelector('.overlay');

    hamburger.addEventListener('click', () => {
        hamburger.classList.toggle('active');
        navbarContainer.classList.toggle('active');
        overlay.classList.toggle('active');
    });


    document.addEventListener('click', (event) => {
        const isClickInsideMenu = navbarContainer.contains(event.target);
        const isClickOnHamburger = hamburger.contains(event.target);

        if (!isClickInsideMenu && !isClickOnHamburger) {
            if (navbarContainer.classList.contains('active')) {
                hamburger.classList.remove('active');
                navbarContainer.classList.remove('active');
                overlay.classList.remove('active');
            }
        }
    });
});

</script>