<header id="navbar">
    <nav class="nav">
        <div class="navbar-container" style="margin-top: 5px">
            <button class="hamburger" id="hamburger" aria-label="Menu">&#9776;</button>
            <ul class="nav-links" id="nav-links">
                <a href="/" class="nav-logo">
                    <img src=" /pictures/25A01LOGODISC.png" alt="Logo" class="logo-img">
                </a>
                <li><a href="/" class="nav-link">Accueil</a></li>
                <li><a href="/recrutement" class="nav-link">News</a></li>
                <li><a href="/recrutement" class="nav-link">Recrutements</a></li>
                <li><a href="/project" class="nav-link">Le Projet</a></li>
                <li><a href="/partners" class="nav-link">Partenaires</a></li>
                <li><a href="/contact" class="nav-link">Contacts</a></li>
                <li><span class="nav-date">>>Réseaux>></span></li>
                <li><a href="https://discord.gg/eZFpfu3QYN" class="nav-link" target="_blank" rel="noopener">DISCORD</a></li>
                <li><a href="https://www.tiktok.com/@wolfdefansy" class="nav-link" target="_blank" rel="noopener">TIKTOK</a></li>
                <li><a href="https://www.youtube.com/@WolfDefansy" class="nav-link" target="_blank" rel="noopener">YOUTUBE</a></li>
                <li><a href="https://twitter.com/wolfdefansy" class="nav-link" target="_blank" rel="noopener">TWEETER</a></li>
            </ul>
        </div>
    </nav>
</header>


<div class="overlay"></div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const hamburger = document.querySelector('.hamburger');
    const navbarContainer = document.querySelector('.nav-links');
    const overlay = document.querySelector('.overlay');

    hamburger.addEventListener('click', () => {
        hamburger.classList.toggle('active');
        navbarContainer.classList.toggle('active');
        overlay.classList.toggle('active');
    });


    document.addEventListener('click', (event) => {
        const isClickInsideMenu = navbarContainer.contains(event.target);
        const isClickOnHamburger = hamburger.contains(event.target);

        if (!isClickInsideMenu && !isClickOnHamburger) {
            if (navbarContainer.classList.contains('active')) {
                hamburger.classList.remove('active');
                navbarContainer.classList.remove('active');
                overlay.classList.remove('active');
            }
        }
    });
});

</script>