<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WolfDefansy | Nous contacter</title>
    <link rel="stylesheet" href=" /all.css" />
    <link rel="stylesheet" href=" /index.css" />
    {{inject_head}}
  </head>

  <body>
    {{inject_navbar}}
    <div class="header">
      <div class="container">
        <div class="header-content">
          <div class="header-info">
            <h1>
              <div class="header-icon">
                <img
                  src="/pictures/25A01LOGODISC.png"
                  alt="Logo de WolfDefansy"
                />
              </div>
              Contactez WolfDefansy
            </h1>
            <p class="header-subtitle">
              Pour toute question ou collaboration, nos équipes sont à votre
              écoute.
            </p>
            <p class="header-description2">
              <strong class="stronger">Contact général :</strong><br />
              Pour toute demande d’information ou question sur le projet
              WolfDefansy, notre équipe globale est disponible à l’adresse
              <strong class="stronger">wolfdefansy@gmail.com</strong>. Nous vous répondrons
              rapidement et vous guiderons selon vos besoins. <br /><br />

              <strong class="stronger">Partenariats et collaborations :</strong><br />
              Si vous souhaitez explorer des opportunités de partenariat ou
              collaborer avec WolfDefansy, veuillez contacter
              <strong class="stronger">partners.wolfdefansy@gmail.com</strong>. Chaque
              proposition est examinée attentivement pour créer des
              collaborations solides et alignées sur nos objectifs. <br /><br />

              <strong class="stronger">Retour et feedback :</strong><br />
              Pour partager vos retours, suggestions ou commentaires concernant
              nos contenus, notre plateforme ou nos activités, contactez
              <strong class="stronger">feedback.wolfdefansy@gmail.com</strong>. Vos retours sont
              essentiels pour améliorer l’expérience et la qualité de nos
              programmes.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="background-grid">
      <div id="grid-container"></div>
    </div>
    {{inject_footer}}
    <script src="/js/oneko.js"></script>
  </body>
</html>
