<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WDPRO-contact</title>
    <link rel="stylesheet" href="/public/all.css">
    <link rel="stylesheet" href="/public/index.css">
    <link rel="icon" href="/public/pictures/pro.ico" type="image/x-icon">
</head>

<body>
{{inject_navbar}}
<div class="header">
    <div class="container">
        <div class="header-content">
            <div class="header-info">
                <h1>
                    <div class="header-icon">
                        <img src="/public/pictures/25A01LOGODISC.png" alt="Wolfdefansy logo">
                    </div>
                    Contacts
                </h1>
                <p class="header-subtitle">
                    Contactez-nous pour toute question, collaboration ou retour
                </p>
                <p class="header-description">

                    Vous souhaitez nous poser une question, proposer une collaboration ou simplement nous faire un
                    retour ?
                    <br><br>
                    L’équipe Wolfdefansy reste à votre écoute. Afin d'assurer un meilleur suivi et centraliser les
                    échanges,
                    toutes les demandes doivent être envoyées par email.
                    <br><br>
                    📧 <strong>contact@wolfdefansy.org</strong>
                    <br><br>
                    Merci pour votre compréhension et à bientôt !
                </p>

            </div>
        </div>
    </div>
</div>

{{inject_footer}}
</body>

</html>