<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WolfDefansy-Asso | Le projet </title>
    <meta name="description" content="Cette page est indisponible pour le moment. Nous travaillons à la création d'une page dédiée au projet WolfDefansy. Restez connectés pour plus d'informations !">
    <link rel="stylesheet" href="/public/all.css">
    <link rel="stylesheet" href="/public/index.css">
    <link rel="icon" href="/public/pictures/pro.ico" type="image/x-icon">
</head>

<body>
    {{inject_navbar}}
    {{inject_footer}}
</body>

</html>